@use "font";

$bg-c: rgb(253, 60, 60);

body {
  margin: 0;
}

.nav {
  background-color: #232323;
  display: flex;
  padding: 1em 2em;

  &__logo {
    height: 50px;
  }

  &__list {
    display: flex;
    margin: 0 0 0 2em;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 1em 2em;
    border-radius: 8px;

    &--accent {
      background-color: $bg-c;
    }
  }
  &__link {
    font-weight: bold;
  }
}
