body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, ul, a {
    font-family: 'Gabarito', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

main a {
    font-family: 'Roboto', sans-serif;

}


// Path: new/css/_resets.scss

