header {
    background-color: lightblue;

    display: flex;
    justify-content: center;
    button {
        background: $primaryBtn;
        // Visa olika exempel med selektorer
        &:hover {
            background: red;
        }
        &::after {
            content: 'Helloooooo!';
        }
    }
}